.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-primary {
  background-color: #21528e; /* Green */
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  border-radius: 8px;
}

.button-primary:hover {
  background-color: #0d3a71;
}

#logoImgLeft {
  width: 8%;
  padding-left: 15px;
  float: left;
}

.border {
  border: 3px solid darkgray !important;
}

#memeIconStyle {
  margin-top: 60px;
  min-width: 45px;
  max-width: 45px;
  background: #ffb807;
  cursor: pointer;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.17);
  color: black;
  transition: all 300ms ease-in;
  visibility: visible;
  height: 50px;
  position: fixed;
  right: 1% !important;
  opacity: 0.9;
  border-radius: 50%;
  font-size: 35px;
}

.image-container {
  text-align: center;
}

.close-icon {
  position: absolute;
  right: 1%;
  top: 1%;
  cursor: pointer;
}

.text-in-square {
  padding-top: 8%;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}
.square {
  height: 50px;
  width: 160px;
  background-image: linear-gradient(#286b7f, #6b8086ed);
  padding: -1% 4% 6% 3% !important;
  margin: 2% 0% 2% 5% !important;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

table,
th,
td {
  border: 5px solid black;
  text-align: center;
  background-color: #dfbac0;
}

.center-popup-images {
  z-index: 9999;
}

#sidebarForTool {
  margin-top: 60px;
  min-width: 45px;
  max-width: 45px;
  background: #ffb807;
  cursor: pointer;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.17);
  color: black;
  transition: all 300ms ease-in;
  visibility: visible;
  height: 50px;
  right: 1% !important;
  opacity: 0.9;
  border-radius: 50%;
  font-size: 35px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, rgb(238, 238, 5), #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-heading {
  color: #000058;
  margin-top: 2%;
  margin-right: 4%;
  font-weight: bold;
}

.table-content{
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}